<font size="6" face="verdana" color="green">
    <img src="Figuras/ICMC_Logo.jpg" width=100>&emsp;&emsp;&emsp;
    <img src="Figuras/Gbdi2005.jpg" width=550><br>
    <b>Exploração inicial das tabelas da Base de dados <u>Alunos15</u></b>
    </font>

<br><br>

**Objetivo:** Olhar rapidamente o conteúdo das tabelas que existem na base de Dados `Alunos15`

<br>

__Adicional:__ 
 * Ganhando familiaridade com o SGBDR &nbsp; <img src="Figuras/Postgres.png" width=130/>.
 * Exemplos de como importar uma coleção de dados para um SGBD.
 * Explorar algumas informações interessantes do Meta-esquema do SGBD  

<br>

## Conectar com a Base de Dados

Para começar, é necessário estabelecer a coneção com a base:

In [2]:
!pip install ipywidgets
!pip install sqlalchemy

Requirement already satisfied: ipywidgets in /opt/conda/lib/python3.11/site-packages (8.1.0)
Requirement already satisfied: comm>=0.1.3 in /opt/conda/lib/python3.11/site-packages (from ipywidgets) (0.1.4)
Requirement already satisfied: ipython>=6.1.0 in /opt/conda/lib/python3.11/site-packages (from ipywidgets) (8.15.0)
Requirement already satisfied: traitlets>=4.3.1 in /opt/conda/lib/python3.11/site-packages (from ipywidgets) (5.9.0)
Requirement already satisfied: widgetsnbextension~=4.0.7 in /opt/conda/lib/python3.11/site-packages (from ipywidgets) (4.0.8)
Requirement already satisfied: jupyterlab-widgets~=3.0.7 in /opt/conda/lib/python3.11/site-packages (from ipywidgets) (3.0.8)
Requirement already satisfied: backcall in /opt/conda/lib/python3.11/site-packages (from ipython>=6.1.0->ipywidgets) (0.2.0)
Requirement already satisfied: decorator in /opt/conda/lib/python3.11/site-packages (from ipython>=6.1.0->ipywidgets) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /opt/conda/lib/python3.11/site-packages (from ipython>=6.1.0->ipywidgets) (0.19.0)
Requirement already satisfied: matplotlib-inline in /opt/conda/lib/python3.11/site-packages (from ipython>=6.1.0->ipywidgets) (0.1.6)
Requirement already satisfied: pickleshare in /opt/conda/lib/python3.11/site-packages (from ipython>=6.1.0->ipywidgets) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in /opt/conda/lib/python3.11/site-packages (from ipython>=6.1.0->ipywidgets) (3.0.39)
Requirement already satisfied: pygments>=2.4.0 in /opt/conda/lib/python3.11/site-packages (from ipython>=6.1.0->ipywidgets) (2.16.1)
Requirement already satisfied: stack-data in /opt/conda/lib/python3.11/site-packages (from ipython>=6.1.0->ipywidgets) (0.6.2)
Requirement already satisfied: pexpect>4.3 in /opt/conda/lib/python3.11/site-packages (from ipython>=6.1.0->ipywidgets) (4.8.0)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /opt/conda/lib/python3.11/site-packages (from jedi>=0.16->ipython>=6.1.0->ipywidgets) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /opt/conda/lib/python3.11/site-packages (from pexpect>4.3->ipython>=6.1.0->ipywidgets) (0.7.0)
Requirement already satisfied: wcwidth in /opt/conda/lib/python3.11/site-packages (from prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30->ipython>=6.1.0->ipywidgets) (0.2.6)
Requirement already satisfied: executing>=1.2.0 in /opt/conda/lib/python3.11/site-packages (from stack-data->ipython>=6.1.0->ipywidgets) (1.2.0)
Requirement already satisfied: asttokens>=2.1.0 in /opt/conda/lib/python3.11/site-packages (from stack-data->ipython>=6.1.0->ipywidgets) (2.2.1)
Requirement already satisfied: pure-eval in /opt/conda/lib/python3.11/site-packages (from stack-data->ipython>=6.1.0->ipywidgets) (0.2.2)
Requirement already satisfied: six in /opt/conda/lib/python3.11/site-packages (from asttokens>=2.1.0->stack-data->ipython>=6.1.0->ipywidgets) (1.16.0)
Requirement already satisfied: sqlalchemy in /opt/conda/lib/python3.11/site-packages (2.0.20)
Requirement already satisfied: typing-extensions>=4.2.0 in /opt/conda/lib/python3.11/site-packages (from sqlalchemy) (4.7.1)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/lib/python3.11/site-packages (from sqlalchemy) (2.0.2)

In [3]:
############## Importar os módulos necessários para o Notebook:
import ipywidgets as widgets     #---
from sqlalchemy import create_engine

############## Conectar com um servidor SQL na base Alunos 15 ###################### --> Postgres.Alunos15
%load_ext sql

# Connection format: %sql dialect+driver://username:password@host:port/database
engine = create_engine('postgresql://postgres:pgadmin@localhost/Alunos15')
%sql postgresql://postgres:pgadmin@localhost/Alunos15

ModuleNotFoundError: No module named 'sql'

<br><br>

## Criar e carregar uma Base de Dados

Antes de carregar uma base de dados, é necessário definir a(s) tabela(s) que irá compor a base de dados, usando, entre outros, comandos `CREATE TABLE`.

<div class="alert alert-block alert-info"> 
    &#x26A0; Caso alguma tabela possa já existir é interessante usar a opção 
        <font size="3" face="arial" style="background-color:#FFE0E0;" color="#050505">IF NOT EXISTS</font>, 
    pois caso alguma tabela exista, irá ocorrer um erro que aborta a transação, e nenhum comando dessa transação será executado.<br>
    &emsp;&emsp;Também podemos solicitar explicitamente que a tabela seja apagada antes com o comando 
        <font size="3" face="arial" style="background-color:#FFE0E0;" color="#050505">DROP TABLE</font>,
    e é interessante aqui também usar a opção `
    <font size="3" face="arial" style="background-color:#FFE0E0;" color="#050505">IF EXISTS</font>, para evitar erro caso a tabela não exista!<br><br>
    &#x26A0; Por outro lado, lembre-se que uma vez executado corretamente, cada tabela criada se torna persistente e continua a existir na base de dados até ser explicitamente removida.<br><br>
    &#x26A0; Caso exista algum objeto que dependa de uma tabela, (por exemplo uma 
    <font size="3" face="arial" style="background-color:#FFE0E0;" color="#050505"> VIEW </font> ou uma 
    <font size="3" face="arial" style="background-color:#FFE0E0;" color="#050505"> TRIGGER, </font> então a opção
    <font size="3" face="arial" style="background-color:#FFE0E0;" color="#050505"> CASCADE </font> pode ser interessante, para remover também tais objetos
    </div>
<br>
    Dentro de um <font size="3" face="arial" style="background-color:#E4E0E0;" color="#050505"> Jupyter Notebook </font>, é aconselhavel sempre usar a opção de apagar e recriar cada tabela, pois é frequente o re-executarmos.
    
<br>

In [ ]:
%%capture
%%sql
DROP TABLE IF EXISTS Professor CASCADE;
CREATE TABLE Professor(
    Nome        VARCHAR(40) NOT NULL,
    NNfuncional CHAR(7)     NOT NULL,
    Grau        CHAR(7),
    Idade       DECIMAL(2)
    );

DROP TABLE IF EXISTS Aluno;
CREATE TABLE Aluno(
    Nome        VARCHAR(40) NOT NULL,
    NUSP        DECIMAL(8)  NOT NULL,
    Idade       DECIMAL(2),
    Cidade      VARCHAR(30)
    );
    
DROP TABLE IF EXISTS Turma;
CREATE TABLE Turma(
    Sigla       CHAR(7)     NOT NULL,
    Numero      DECIMAL(2)  NOT NULL,
    Codigo      DECIMAL(4)  NOT NULL,
    NNalunos    DECIMAL(3)
    );

DROP TABLE IF EXISTS Discip;
CREATE TABLE Discip(
    Sigla       CHAR(7)     NOT NULL,
    Nome        VARCHAR(25) NOT NULL,
    Siglaprereq CHAR(7),
    NNcred      DECIMAL(2)  NOT NULL
    );

DROP TABLE IF EXISTS Matricula;
CREATE TABLE Matricula(
    Codigoturma DECIMAL(4)  NOT NULL,
    NUSP        DECIMAL(8)  NOT NULL,
    Nota        DECIMAL(3)
    );

DROP TABLE IF EXISTS Ministra;
CREATE TABLE Ministra(
    NNfuncprof  CHAR(7)     NOT NULL,
    Codigo      DECIMAL(4)  NOT NULL,
    Livro       VARCHAR(50)
    );

Quando as tabelas são criadas, em geral é interessante declarar também as restrições de integridade, como as 
    <font size="3" face="arial" style="background-color:#FFE0E0;" color="#050505"> Chaves primária (PRIMARY KEY) e candidatas (UNIQUE). </font>

Quando os dados vão ser carregados logo em seguida, se não houver garantia que os dados garantem essas restrições, é melhor fazer a carga com elas não declaradas, e declarálas depois, pois caso contrário, alguma tupla errada pode cancelar toda a carga.

Vamos carregar nessa base pequena, apenas algumas poucas tuplas para exemplo.\
Quando a quantidade é pequena como agora, podemos inserir cada tupla diretamente com um comando 
    <font size="3" face="arial" style="background-color:#FFE0E0;" color="#050505"> INSERT INTO </font> por tupla.
    
O exemplo usado em sala de aula é carregado com os seguintes dados:

In [ ]:
%%capture
%%sql
INSERT INTO Professor VALUES ('Ari',     '1111', 'MS-1', 25);
INSERT INTO Professor VALUES ('Adao',    '2222', 'MS-2', 30);
INSERT INTO Professor VALUES ('Anselmo', '3333', 'MS-2', 31);
INSERT INTO Professor VALUES ('Amalia',  '8888', 'MS-3', 39);
INSERT INTO Professor VALUES ('Ana',     '4444', 'MS-3', 31);
INSERT INTO Professor VALUES ('Alice',   '5555', 'MS-3', 35);
INSERT INTO Professor VALUES ('Amauri',  '6666', 'MS-3', 34);
INSERT INTO Professor VALUES ('Artur',   '7777', 'MS-4', 41);
INSERT INTO Professor VALUES ('Adriana', '9999', 'MS-5', 45);

INSERT INTO Aluno VALUES ('Carlos',   1234, 21, 'Sao Carlos');
INSERT INTO Aluno VALUES ('Celso',    2345, 22, 'Sao Carlos');
INSERT INTO Aluno VALUES ('Cicero',   3456, 22, 'Araraquara');
INSERT INTO Aluno VALUES ('Carlitos', 4567, 21, 'Ibitinga');
INSERT INTO Aluno VALUES ('Catarina', 5678, 23, 'Sao Carlos');
INSERT INTO Aluno VALUES ('Cibele',   6789, 21, 'Araraquara');
INSERT INTO Aluno VALUES ('Corina',   7890, 25, 'Rio Claro');
INSERT INTO Aluno VALUES ('Celina',   8901, 27, 'Sao Carlos');
INSERT INTO Aluno VALUES ('Celia',    9012, 20, 'Rio Claro');
INSERT INTO Aluno VALUES ('Cesar',    9123, 21, 'Araraquara');
INSERT INTO aluno VALUES ('Denise',   4584, 35, 'Ibate');
INSERT INTO aluno VALUES ('Durval',   1479, null, null);
INSERT INTO Aluno VALUES ('Daniel',   1489, 19, 'Campinas');
INSERT INTO aluno VALUES ('Dora',     1469, 24, null);
INSERT INTO aluno VALUES ('Dina',     1459, null, 'Campinas');

INSERT INTO Turma VALUES ('SCE-179', 1, 100, 30);
INSERT INTO Turma VALUES ('SMA-179', 1, 101, 25);
INSERT INTO Turma VALUES ('SMA-179', 2, 102, 30);
INSERT INTO Turma VALUES ('SCE-200', 1, 103, 30);
INSERT INTO Turma VALUES ('SCE-200', 2, 104, 40);
INSERT INTO Turma VALUES ('SCE-200', 3, 105, 35);

INSERT INTO Discip VALUES ('SCE-179', 'Base de Dados',      'SMA-179', 4);
INSERT INTO Discip VALUES ('SMA-179', 'Algebra',                   '', 3);
INSERT INTO Discip VALUES ('SCE-200', 'Lab. Base de Dados', 'SCE-179', 4);

INSERT INTO Matricula VALUES (100, 1234, 8);
INSERT INTO Matricula VALUES (100, 2345, 9);
INSERT INTO Matricula VALUES (100, 4567, 7);
INSERT INTO Matricula VALUES (100, 8901, 4);
INSERT INTO Matricula VALUES (100, 9123, 9);
INSERT INTO Matricula VALUES (100, 3456, 7);
INSERT INTO Matricula VALUES (100, 9012, 6);
INSERT INTO Matricula VALUES (101, 2345, 4);
INSERT INTO Matricula VALUES (101, 3456, 2);
INSERT INTO Matricula VALUES (101, 2344, 3);
INSERT INTO Matricula VALUES (101, 4567, 4);
INSERT INTO Matricula VALUES (101, 6789, 6);
INSERT INTO Matricula VALUES (101, 7890, 10);
INSERT INTO Matricula VALUES (101, 8901, 3);
INSERT INTO Matricula VALUES (101, 9012, 9);
INSERT INTO Matricula VALUES (101, 1234, 9);
INSERT INTO Matricula VALUES (102, 2345, 7);
INSERT INTO Matricula VALUES (102, 3456, 9);
INSERT INTO Matricula VALUES (102, 4567, 10);
INSERT INTO Matricula VALUES (102, 5678, 7);
INSERT INTO Matricula VALUES (102, 9123, 9);
INSERT INTO Matricula VALUES (102, 8901, 9);
INSERT INTO Matricula VALUES (104, 2345, 7);
INSERT INTO Matricula VALUES (104, 3456, 10);
INSERT INTO Matricula VALUES (104, 4567, 4);
INSERT INTO Matricula VALUES (104, 6789, 5);
INSERT INTO Matricula VALUES (104, 7890, 9);
INSERT INTO Matricula VALUES (104, 8901, 8);
INSERT INTO Matricula VALUES (104, 9012, 9);
INSERT INTO Matricula VALUES (104, 1234, 4);
INSERT INTO Matricula VALUES (104, 5678, 8);
INSERT INTO Matricula VALUES (104, 9123, 7);

INSERT INTO Ministra VALUES ('1111', 100, 'Database Intro');
INSERT INTO Ministra VALUES ('1111', 103, 'Bases de Dados na Pratica');
INSERT INTO Ministra VALUES ('2222', 101, 'Algebra para Todos');
INSERT INTO Ministra VALUES ('3333', 100, 'Database Intro');
INSERT INTO Ministra VALUES ('3333', 103, 'Bases de Dados na Pratica');
INSERT INTO Ministra VALUES ('3333', 104, 'Bases de Dados na Pratica');
INSERT INTO Ministra VALUES ('3333', 102, 'Algebra Moderna');
INSERT INTO Ministra VALUES ('4444', 100, 'Database Intro');
INSERT INTO Ministra VALUES ('4444', 105, 'Bases de Dados');
INSERT INTO Ministra VALUES ('5555', 101, 'Algebra para Todos');
INSERT INTO Ministra VALUES ('5555', 102, 'Algebra Moderna');
INSERT INTO Ministra VALUES ('6666', 100, 'Introducao a bases de dados');
INSERT INTO Ministra VALUES ('7777', 101, 'Algebra Moderna');
INSERT INTO Ministra VALUES ('7777', 102, 'Algebra para Todos');
INSERT INTO Ministra VALUES ('9999', 100, 'Database Intro');

Veja que, como não declaramos as restrições de integridade, se esse comando for repetido, as tuplas são todas re-inseridas e ficam duplicadas nas tabelas!

Vamos criar uma `VIEW` para definir os níveis dos `Professores`:\
&emsp;<font color="red">Veja que as considerações sobre essa `VIEW` já existir também valem aqui.</font>

In [ ]:
%%sql
DROP VIEW IF EXISTS Niveis;
CREATE VIEW Niveis (Nivel, Titulo) AS
    VALUES ('MS-1', 'Auxiliar'), 
           ('MS_2', 'Mestre'),
           ('MS-3', 'Doutor'), 
           ('MS-5', 'Livre docente'),
           ('MS-6', 'Titular');

Depois de carregada uma base de dados, é importante levantar as estatísticas da base, mesmo para bases minúscuclas.

Em <img src="Figuras/Postgres.png" width=120/>, isso é feito com o comando `VACUUM [ANALYZE]`:

In [ ]:
%sql VACUUM ANALYZE;

<br><br>

## Explorar rapidamente o que tem na base de dados

As tabelas usadas nos exemplos são: `Alunos`, `Discip`, `Turma`, `Matricula` e `Professor`.<br>

Vamos usar as tabelas do <b>Meta-Esquema</b> do SGBD para verificar a quantidade de atributos e de tuplas dessas tabelas:

In [ ]:
%%sql
SELECT TC.RelName, TC.RelNatts, SchemaName,                    -- --> Nome da relação, número de atributos e esquema onde está definida
       TC.RelTuples::INT, TC.RelPages                          -- --> Quantidade de tuplas e quantidade de páginas em disco
    FROM pg_catalog.pg_tables TN JOIN Pg_Class TC ON TN.TableName=TC.RelName
    WHERE RelName !~'(pg_)|(sql_)'
    --IN ('alunos', 'discip', 'turma', 'matricula', 'professor')
    ORDER BY 1;

<br>

Essa base é bem pequena...  Cada tabela ocupa apenas uma página de disco (de 8KBytes)\
Todas as tabelas estão no esquema <i>default</i>: `Public`

Vamos ver as tuplas das tabelas `Alunos` e `Disciplinas`:

In [ ]:
%sql  tabAluno << SELECT * FROM Aluno;
print('\nAluno:\n', tabAluno, sep='')
%sql  tabDiscip << SELECT * FROM Discip;
print('\nDiscip:\n', tabDiscip, sep='')

<br>

Os alunos não se matriculam diretamente nas disciplinas, mas sim nas turmas criadas para cada disciplina.\
Pode haver mais de uma turma para cada disciplina.

In [ ]:
%sql  tabTurma << SELECT * FROM Turma;
print('\nTurma:\n', tabTurma, sep='')
%sql  tabMatricula << SELECT * FROM Matricula;
print('\nMatricula:\n', tabMatricula, sep='')

<br>

Portanto, para listar as notas que um dado aluno tirou em todas as disciplinas, é necessário 'juntar' essas __4__ tabelas:

In [ ]:
%%sql
SELECT A.Nome, D.Nome, M.Nota, A.NUSP
    FROM Aluno A JOIN Matricula M ON A.NUSP=M.NUSP
                 JOIN Turma T ON M.CodigoTurma=T.Codigo
                 JOIN Discip D ON T.Sigla=D.Sigla
    WHERE M.Nota>=5
    ORDER BY A.Nome, D.Nome
    LIMIT 10;

<br><br>
## Explorar algumas tabelas do <b>Meta-esquema do <img src="Figuras/Postgres.png" width=120/></b>

<br>

#### A tabela `PG_Class`:
A principal tabela para acessar as informações do <b>Meta-Esquema</b> de uma base de dados é a `PG_Class`.\
Ela tem as principais informações sobre as `tabelas`, `visões`, `índices` e demais objetos que podem ser generalizados como uma tabela.
Alguns dados interessantes são:
 * `OId:` o identificador interno da tabela
 * `RelName:` o nome da tabela
 * `RelNameSpace:` o nome do esquema ('NameSpace') onde o nome do objeto está definido (referencia `PG_NameSpace.OId`)
 * `RelKind:` o tipo do objeto: 'r'=tabela, 'i'=índice, 'v'=visão, 'm'=visão materializada, etc.
 * `RelAM:` organização do objeto  (referencia `PG_AM.OId`).\
   Se for tabela, se a armazenagem é por tupla ou colunar; se for índice, a estrutura de dados (b-tree, hash, r-tree, etc.)
 * `RelPages:` quantidade de páginas de 8KBytes ocupadas em disco
 * `RelTuples:` quantidade de tuplas armazenadas
 * `RelNAtts:` quantidade de atributos em cada tupla, sem contar os atributos de sistema.
   A tabela `PG_Attribute` contem as informações sobre cada um dos atributos

Por exemplo:

In [ ]:
%%sql
SELECT OId, RelName, RelKind, RelNameSpace, RelAM, RelPages, RelTuples, RelNAtts
    FROM PG_Class
    WHERE RelName='aluno' OR RelName='professor';

Quando um atributo se referencia a um objeto em outra tabela, podemos buscar as informações desse objeto na tabela correspondente.

<br>

#### A tabela `PG_NameSpace`
Por exemplo, o `NameSpace` de uma tabela é o esquema onde ele está definido.\
Podemos obter as informações sobre o esquema onde a tabela `Aluno` está definida olhando a relação referenciada: `pg_namespace':

In [ ]:
%%sql
SELECT C.RelName, S.*
    FROM PG_Class C JOIN PG_NameSpace S ON C.RelNameSpace = S.OId
    WHERE C.RelName='aluno' OR C.RelName='professor';


Se quizermos ver todos os esquemas da base de dados com todos os seus atributos podemos solicitar:

In [ ]:
%%sql
SELECT S.*
    FROM PG_NameSpace S;

Veja que além do esquema público, existem os esquemas internos do próprio <img src="Figuras/Postgres.png" width=120/>

Se quizermos ver todos os esquemas definidos pelo usuário (incluindo o esquema `Public`) podemos filtrar:
 - os esquemas de trabalho do <img src="Figuras/Postgres.png" width=120/> (`LIKE 'pg\_%'`) e
 - o esquema padrão <img src="Figuras/ISO-Logo.png" width=35/> (`LIKE 'Information\_schema'`).

<br>

Filtrando usando uma Expressão Regular independente da caixa da letra (`~*`), o comando fica:

In [ ]:
%%sql
SELECT S.*
    FROM PG_NameSpace S 
    WHERE NspName !~*'(pg_)|(Information_schema)';

<br>

#### A tabela `PG_Attribute`

As informações sobre cada aributo de uma tabela estão na relação `PG_Attribute`.\
Dentre as mais interessantes estão:
 * 'AttRelId:' indentifica a tabela (em `PG_Class.Oid`) que contém esse atributo
 * 'Attname:' o nome do atributo
 * 'AttNum:' Posição ordinal desse atributo na tabela
 * 'AttLen:' Número de bytes que esse atributo ocupa na tupla. -1 se for variável
 * 'AttTypId:' o identificador do tipo de dados do atributo (referencia PG_Type.OId)
 
Por exemplo:

In [ ]:
%%sql
SELECT C.RelName, A.AttRelId, A.AttName, A.AttNum, A.AttLen, A. AttTypId, T.TypName
    FROM Pg_Class C JOIN Pg_Attribute A ON C.OID = A.AttRelId
                    JOIN Pg_Type T      ON A.AttTypId=T.OID
    WHERE (C.RelName = 'aluno' OR C.RelName = 'matricula')
      AND A.AttNum>0   -- AttNum<0 ==> Atributo de sistema
    ORDER BY 1,4;

<br><br>

A documentação das tabelas do <b>Meta-esquema</b> pode ser encontrada no manual do <img src="Figuras/Postgres.png" width=120/> em:\
https://www.postgresql.org/docs/current/catalogs.html

<br><br>
<font size="5" face="verdana" color="green">
     <b>Exploração inicial das tabelas da Base de dados Alunos15</b>
    </font><br>

<font size="10" face="verdana" color="red">
    <img src="Figuras/ICMC_Logo.jpg" width=100>&emsp;&emsp;
    <b>FIM</b>&nbsp;&nbsp;&nbsp;&nbsp;
    <img src="Figuras/Gbdi2005.jpg" width=400>
    </font>