In [ ]:
'''
Grupo 1
Caique Honorio Cardoso - 8910222
Ivan Barbosa Pinheiro - 9050552
Lucas Rafael Oliveira Santos Eugênio - 11212098
'''

In [1]:
############## Importar os módulos necessários para xo Notebook:
from ipywidgets import interact  ##-- Interactors
import ipywidgets as widgets     #---
from sqlalchemy import create_engine


############## Conectar com um servidor SQLna base Alunos80K ###################### --> Postgres.Alunos80
%load_ext sql

# Connection format: %sql dialect+driver://username:password@host:port/database
engine = create_engine('postgresql://postgres:postgres@localhost/Alunos80')
connsql=engine.connect()
%sql postgresql://postgres:postgres@localhost/Alunos80

In [2]:
%%sql
CREATE EXTENSION IF NOT EXISTS hstore;

 * postgresql://postgres:***@localhost/Alunos80
Done.

[]

In [105]:
%%sql
with temp as (SELECT m.nusp nusp,m.nf nf,t.sigla sigla
from matricula m
RIGHT JOIN turma t on t.codigo= m.codigoturma)

MERGE INTO configura c
USING temp t
ON t.nusp = c.nusp
WHEN MATCHED AND t.nf>9 THEN
  UPDATE SET config = config || '"destaque"=>"distincao"' :: hstore

 * postgresql://postgres:***@localhost/Alunos80
0 rows affected.

[]

In [148]:
%%sql
with temp as (SELECT m.nusp nusp,m.nf nf,t.sigla sigla
from matricula m
RIGHT JOIN turma t on t.codigo= m.codigoturma)

MERGE INTO configura c
USING temp t
ON t.nusp = c.nusp
WHEN MATCHED AND t.nf<=0.5 THEN
    UPDATE SET config = config || '"destaque"=>"Trancamento"' || hstore('disciplina',t.sigla)

 * postgresql://postgres:***@localhost/Alunos80
149 rows affected.

[]

In [151]:
%%sql
with temp as (SELECT m.nusp nusp,m.nf nf,t.sigla sigla
from matricula m
RIGHT JOIN turma t on t.codigo= m.codigoturma)

MERGE INTO configura c
USING temp t
ON t.nusp = c.nusp
WHEN MATCHED AND t.nf>=8 THEN
  UPDATE SET config = config || '"destaque"=>"Bom"' :: hstore

 * postgresql://postgres:***@localhost/Alunos80
959 rows affected.

[]

In [149]:
%%sql
SELECT *
    FROM Configura
    WHERE Config->'destaque' = 'Trancamento'
    LIMIT 5

 * postgresql://postgres:***@localhost/Alunos80
5 rows affected.

[(Decimal('13285305'), 'Ália Lages', {'col': '42', 'Font': 'Times', 'line': '198', 'Proxy': 'false', 'destaque': 'Trancamento', 'disciplina': 'QBQ-314', 'BkGrdnColor': '10635262', 'FrGrdnColor': '12181697'}),
 (Decimal('15684588'), 'Nídia Murray', {'col': '37', 'Font': 'Courier', 'line': '174', 'Proxy': 'false', 'destaque': 'Trancamento', 'disciplina': 'MNE-444', 'BkGrdnColor': '16393599', 'FrGrdnColor': '16128730'}),
 (Decimal('16864480'), 'Igelcemina Cianci', {'Font': 'Times', 'Proxy': 'false', 'destaque': 'Trancamento', 'disciplina': 'ACH-372', 'BkGrdnColor': '4902559', 'FrGrdnColor': '12483750'}),
 (Decimal('28079636'), 'Enya Cabeça de Vaca', {'col': '64', 'Font': 'Helvetica', 'line': '30', 'Proxy': 'false', 'destaque': 'Trancamento', 'disciplina': 'RNM-346', 'BkGrdnColor': '10491492', 'FrGrdnColor': '251951'}),
 (Decimal('33007010'), 'Nise Infante', {'col': '47', 'Font': 'Times', 'line': '169', 'Proxy': 'false', 'destaque': 'Trancamento', 'disciplina': 'FSL-350', 'BkGrdnColor': '7136331', 'FrGrdnColor': '7213194'})]

In [153]:
%%sql
SELECT *
    FROM Configura
    WHERE Config->'destaque' = 'Bom'
    LIMIT 5

 * postgresql://postgres:***@localhost/Alunos80
5 rows affected.

[(Decimal('10608542'), 'Sílvio Domínguez', {'col': '46', 'Font': 'Arial', 'line': '114', 'Proxy': 'false', 'destaque': 'Bom', 'BkGrdnColor': '4493200', 'FrGrdnColor': '2859893'}),
 (Decimal('10992854'), 'Carmo Camacho', {'col': '55', 'Font': 'Garamond', 'line': '151', 'Proxy': 'false', 'destaque': 'Bom', 'BkGrdnColor': '13329941', 'FrGrdnColor': '2628417'}),
 (Decimal('11920423'), 'Rúbia Newton', {'col': '37', 'Font': 'Courier', 'line': '284', 'Proxy': 'false', 'destaque': 'Bom'}),
 (Decimal('14512008'), 'Mason Mansilha', {'col': '57', 'Font': 'Courier', 'line': '72', 'Proxy': 'false', 'destaque': 'Bom', 'BkGrdnColor': '12251835', 'FrGrdnColor': '4779292'}),
 (Decimal('15366220'), 'Maria Inês Tosato', {'col': '56', 'Font': 'Times', 'line': '260', 'Proxy': 'false', 'destaque': 'Bom'})]

In [154]:
%%sql
SELECT *
    FROM Configura
    WHERE Config->'destaque' = 'distincao'
    LIMIT 5

 * postgresql://postgres:***@localhost/Alunos80
0 rows affected.

[]