In [ ]:
'''
Grupo 1
Caique Honorio Cardoso - 8910222
Ivan Barbosa Pinheiro - 9050552
Lucas Rafael Oliveira Santos EugÃªnio - 11212098
'''

In [1]:
import matplotlib.pyplot as plt
import pandas.io.sql as pdsql
from sqlalchemy import create_engine, text
import psycopg2

In [2]:
############## Conectar com um servidor SQLna base FapCov2103 ###################### --> Postgres.FapCov2103
%load_ext sql

# Connection format: %sql dialect+driver://username:password@host:port/database
engine = create_engine('postgresql://postgres:postgres@localhost/trabalhopratico1')
connsql=engine.connect()
%sql postgresql://postgres:postgres@localhost/trabalhopratico1

In [78]:
%%sql
with desfechos_por_mes as (SELECT *,COALESCE(contagem_por_mes, 0) as contagem_por_mesreal --descarta os none gerado pelo count
FROM  (
   SELECT meses::date,p.cd_municipio as cidade
   FROM   generate_series(timestamp '2019-01-01'
                        , timestamp '2021-06-30'
                        , interval  '1 month') meses , paciente p --linka as cidades a todas as datas
   ) d
LEFT   JOIN (SELECT p.cd_municipio as cidade,date_trunc('month', d.dt_atendimento)::date AS meses,
     count(*)  as contagem_por_mes --conta mas gera none onde nao tem nada
      FROM Paciente p JOIN Desfecho D on d.ID_paciente=p.ID_paciente
        WHERE  d.dt_atendimento >= date '2019-01-01'
   AND    d.dt_atendimento <= date '2021-06-30'
        GROUP BY p.cd_municipio,date_trunc('month', d.dt_atendimento)::date
   ) t USING (meses,cidade)
GROUP  BY meses,cidade,t.contagem_por_mes
ORDER  BY meses,cidade
)
SELECT dpm.Cidade,
    ARRAY_AGG(dpm.contagem_por_mesreal) as contagens_por_mes_de_20190101_a_20210630 --junta tudo em uma array por cidade
    FROM desfechos_por_mes dpm
    GROUP BY dpm.cidade
    order by dpm.cidade;

 * postgresql://postgres:***@localhost/trabalhopratico1
18 rows affected.

[('BARUERI', [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 9, 2, 11, 16, 21, 10, 21, 20, 13, 17, 25, 0, 0, 0, 0, 0]),
 ('BELEM', [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 6, 3, 0, 2, 1, 0, 0, 0, 0]),
 ('BRASILIA', [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 50, 328, 220, 374, 555, 689, 612, 495, 404, 481, 555, 434, 420, 727, 371, 400, 96]),
 ('CAMPOS DO JORDAO', [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 8, 4, 5, 5, 0, 0, 0, 0, 0, 0, 0, 0, 0]),
 ('CARAPICUIBA', [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 5, 0, 0, 6, 14, 7, 6, 9, 5, 5, 0, 0, 0, 0, 0]),
 ('COTIA', [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 8, 7, 7, 17, 16, 18, 4, 12, 17, 14, 23, 0, 0, 0, 0, 0]),
 ('DIADEMA', [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 31, 18, 12, 20, 20, 24, 22, 25, 25, 23, 30, 12, 9, 5, 3, 0]),
 ('GUARULHOS', [1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 20, 319, 315, 399, 557, 707, 738, 651, 572, 606, 618, 513, 84, 140, 123, 121, 59]),
 ('MANAUS', [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 6, 0, 4, 8, 6, 3, 1, 1, 3, 0, 0, 0, 0, 0]),
 ('MMMM', [2, 2, 2, 1, 0, 0, 1, 3, 4, 1, 2, 5, 10, 230, 3677, 2594, 3521, 5417, 6850, 6456, 6669, 6792, 7078, 6792, 6481, 1432, 1838, 1377, 1913, 571]),
 ('MOGI DAS CRUZES', [0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 24, 17, 22, 39, 41, 26, 52, 36, 71, 74, 44, 3, 1, 0, 0, 1]),
 ('OSASCO', [0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 5, 116, 64, 111, 197, 299, 324, 256, 211, 296, 271, 238, 5, 37, 15, 22, 9]),
 ('SANTANA DE PARNAIBA', [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 4, 2, 5, 0, 0, 9, 3, 2, 0, 0, 0, 0, 0]),
 ('SANTO ANDRE', [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 21, 23, 30, 28, 36, 22, 33, 36, 30, 42, 20, 0, 0, 0, 0, 0]),
 ('SANTOS', [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 27, 28, 22, 23, 7, 14, 19, 22, 25, 19, 31, 0, 0, 0, 0, 0]),
 ('SAO BERNARDO DO CAMPO', [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 34, 24, 43, 43, 63, 60, 71, 78, 71, 62, 70, 2, 4, 0, 9, 8]),
 ('SAO PAULO', [3, 2, 5, 6, 8, 13, 9, 12, 9, 10, 9, 9, 39, 566, 12879, 7521, 10745, 15819, 20203, 21046, 21812, 22144, 24026, 22291, 20028, 3960, 5063, 3740, 4603, 1713]),
 ('SUZANO', [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 12, 12, 2, 14, 28, 6, 16, 9, 8, 13, 16, 0, 0, 0, 0, 0])]