In [ ]:
'''
Grupo
Caique Honorio Cardoso - 8910222
Ivan Barbosa Pinheiro - 9050552
Lucas Rafael Oliveira Santos Eugênio - 11212098
'''

In [1]:
!pip install sqlalchemy
!pip install psycopg2-binary

Requirement already satisfied: sqlalchemy in /opt/conda/lib/python3.11/site-packages (2.0.22)
Requirement already satisfied: typing-extensions>=4.2.0 in /opt/conda/lib/python3.11/site-packages (from sqlalchemy) (4.8.0)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/lib/python3.11/site-packages (from sqlalchemy) (3.0.0)
Requirement already satisfied: psycopg2-binary in /opt/conda/lib/python3.11/site-packages (2.9.9)

In [2]:
import matplotlib.pyplot as plt
import pandas.io.sql as pdsql
from sqlalchemy import create_engine, text
import psycopg2

In [3]:
# Carregue a extensão
%reload_ext sql

# Connection format: %sql dialect+driver://username:password@host:port/database
# Use o nome do serviço do PostgreSQL como host
engine = create_engine('postgresql://postgres:postgres@postgres:5432/FapCov2103')
connsql = engine.connect()

# Para executar comandos SQL, você pode usar o mesmo formato de conexão
%sql postgresql://postgres:postgres@postgres:5432/FapCov2103

In [4]:
# Execute uma consulta SQL para listar todas as tabelas
result = %sql SELECT table_name FROM information_schema.tables WHERE table_schema = 'public'
print(result)

 * postgresql://postgres:***@postgres:5432/FapCov2103
7 rows affected.
+-----------------+
|    table_name   |
+-----------------+
|     paciente    |
|      exames     |
|     desfecho    |
|   hsl_paciente  |
|    hsl_exames   |
| fleury_paciente |
|  fleury_exames  |
+-----------------+

In [5]:
%%sql
    --criar tabela para paciente, exames e desfecho
    
    DROP TABLE IF EXISTS Paciente CASCADE;
    CREATE TABLE Paciente(
        ID_PACIENTE        TEXT,
        IC_SEXO CHAR(1),
        AA_NASCIMENTO        VARCHAR(4),
        CD_PAIS      CHAR(2),
        CD_UF VARCHAR(20),
        CD_MUNICIPIO VARCHAR(100),
        CD_CEPREDUZIDO VARCHAR(8)               
        );
    
    DROP TABLE IF EXISTS Exames CASCADE;
    CREATE TABLE Exames(
        ID_PACIENTE        TEXT,
        ID_ATENDIMENTO     VARCHAR(40),
        IC_COLETA DATE NOT NULL,
        DE_ORIGEM        TEXT,
        DE_EXAME       VARCHAR(8000),
        DE_ANALITO VARCHAR(80),
        DE_RESULTADO TEXT,
        CD_UNIDADE TEXT,
        DE_VALOR_REFERENCIA VARCHAR(4000)
        );
    
    DROP TABLE IF EXISTS Desfecho CASCADE;
    CREATE TABLE Desfecho(
        ID_PACIENTE        TEXT,
        ID_ATENDIMENTO     VARCHAR(40),
        DT_ATENDIMENTO DATE,
        DE_TIPO_ATENDIMENTO        VARCHAR(25),
        ID_CLINICA       INT,
        DE_CLINICA VARCHAR(80),
        DT_DESFECHO TEXT,
        DE_DESFECHO VARCHAR(80)             
        );

 * postgresql://postgres:***@postgres:5432/FapCov2103
Done.
Done.
Done.
Done.
Done.
Done.

[]

In [6]:
%%sql
    --copiar dos arquivos csv dos dados que tem desfecho ou seja Sirio Libanes e Beneficiencia Portuguesa
    SET datestyle = 'European';    
    COPY Paciente FROM '/home/jovyan/work/HSL_Pacientes_3.csv' WITH (DELIMITER '|', NULL '', HEADER true, FORMAT CSV);
    COPY Exames FROM '/home/jovyan/work/HSL_Exames_3.csv' WITH (DELIMITER '|', NULL '', HEADER true, FORMAT CSV);
    COPY Desfecho FROM '/home/jovyan/work/HSL_Desfechos_3.csv' WITH (DELIMITER '|', NULL '', HEADER true, FORMAT CSV);
    COPY Paciente FROM '/home/jovyan/work/bpsp_pacientes_01.csv' WITH (DELIMITER '|', NULL '', HEADER true, FORMAT CSV);
    COPY Exames FROM '/home/jovyan/work/bpsp_exames_01.csv' WITH (DELIMITER '|', NULL '', HEADER true, FORMAT CSV);
    COPY Desfecho FROM '/home/jovyan/work/bpsp_desfecho_01.csv' WITH (DELIMITER '|', NULL '', HEADER true, FORMAT CSV);

 * postgresql://postgres:***@postgres:5432/FapCov2103
Done.
8971 rows affected.
1463834 rows affected.
42691 rows affected.
39000 rows affected.
5339293 rows affected.
217991 rows affected.

[]

In [7]:
%%sql
--criar a tabela para adicionar so os dados relevantes para atividade 
DROP TABLE IF EXISTS Tudo CASCADE;
CREATE TABLE Tudo(
    ID_PACIENTE        VARCHAR(40),
    ID_ATENDIMENTO     VARCHAR(40),
    IC_COLETA TEXT,
    IC_SEXO CHAR(1),
    AA_NASCIMENTO        VARCHAR(4),
    CD_PAIS      CHAR(2),
    CD_UF VARCHAR(20),
    CD_MUNICIPIO VARCHAR(100),
    CD_CEPREDUZIDO VARCHAR(8),
    DT_ATENDIMENTO DATE,
    DT_DESFECHO TEXT,
    DE_DESFECHO VARCHAR(80),
    DE_EXAME       VARCHAR(8000),
    DE_RESULTADO TEXT,
    CLASSE CHAR
    );

 * postgresql://postgres:***@postgres:5432/FapCov2103
Done.
Done.

[]

In [8]:
%%capture
%%sql
--inserir os dados desfecho pois sao os que interessam
INSERT INTO Tudo
(ID_PACIENTE,ID_ATENDIMENTO,DT_ATENDIMENTO,DT_DESFECHO,DE_DESFECHO)
SELECT ID_PACIENTE,ID_ATENDIMENTO,DT_ATENDIMENTO,DT_DESFECHO,DE_DESFECHO
FROM Desfecho;
--a partir de cada id foram adicionados os dados de cada paciente pela   
UPDATE Tudo
SET IC_SEXO=pa.IC_SEXO,AA_NASCIMENTO=pa.AA_NASCIMENTO,CD_PAIS=pa.CD_PAIS,CD_UF=pa.CD_UF,CD_MUNICIPIO=pa.CD_MUNICIPIO,CD_CEPREDUZIDO=pa.CD_CEPREDUZIDO
FROM Paciente pa
WHERE Tudo.ID_PACIENTE=pa.ID_PACIENTE;

--a partir das id de atendimento foram adicionados os resultados dos exames do atendimento

UPDATE Tudo
SET IC_COLETA=exa.IC_COLETA,DE_EXAME=exa.DE_EXAME,DE_RESULTADO=exa.DE_RESULTADO
FROM Exames exa
WHERE Tudo.ID_ATENDIMENTO=exa.ID_ATENDIMENTO;

 * postgresql://postgres:***@postgres:5432/FapCov2103
260682 rows affected.
260681 rows affected.
95829 rows affected.

[]

In [9]:
%%sql

--deletar tudo que está sem exame identificado
DELETE FROM Tudo 
WHERE DE_EXAME IS NULL;

--deletar exames que não sejam de covid
DELETE FROM Tudo
WHERE (DE_EXAME NOT LIKE '%Corona%'
       or DE_EXAME NOT LIKE '%Cov%'
       or DE_EXAME LIKE'%COV%'
      or DE_EXAME LIKE '%CORONA%'
      and DE_EXAME NOT LIKE '%Cor43%'
      and DE_EXAME NOT LIKE '%HKU%'); 

UPDATE TUDO SET cd_municipio='' WHERE cd_municipio='MMMM';
UPDATE TUDO SET CD_CEPREDUZIDO='' WHERE CD_CEPREDUZIDO='CCCC';
UPDATE TUDO SET aa_nascimento='' WHERE aa_nascimento='YYYY';

 * postgresql://postgres:***@postgres:5432/FapCov2103
164853 rows affected.
69783 rows affected.
4982 rows affected.
25553 rows affected.
18920 rows affected.

[]

In [24]:
%%sql

--atualizar a coluna classe a partir dos resultados dos exames

UPDATE Tudo
SET classe='N'
WHERE (Tudo.DE_RESULTADO LIKE '%NEGATIVO%'
      or Tudo.DE_RESULTADO LIKE '%NÃO%'
      or Tudo.DE_RESULTADO LIKE '%NAO%');

UPDATE Tudo
SET classe='P'
WHERE (Tudo.DE_RESULTADO LIKE '%POSITIVO%'
       or Tudo.DE_RESULTADO LIKE 'DETECTADO');
       
UPDATE Tudo
SET classe=''
WHERE Tudo.classe IS NULL;

 * postgresql://postgres:***@postgres:5432/FapCov2103
21133 rows affected.
4736 rows affected.
0 rows affected.

[]

In [38]:
%%sql

-- Atualizar registros com DE_RESULTADO correspondente a expressão regular
UPDATE Tudo
SET classe = 'N'
WHERE REGEXP_REPLACE(Tudo.DE_RESULTADO, '(?i)NEGATIVO|NÃO|NAO|INDETECTAVEL', '', 'g') = '';

UPDATE Tudo
SET classe = 'P'
WHERE REGEXP_REPLACE(Tudo.DE_RESULTADO, '(?i)POSITIVO|DETECTADO|DETECTAVEL', '', 'g') = '';

       
UPDATE Tudo
SET classe=''
WHERE Tudo.classe IS NULL;

 * postgresql://postgres:***@postgres:5432/FapCov2103
130 rows affected.
387 rows affected.
0 rows affected.

[]

In [39]:
%%sql
SELECT *
FROM Tudo
WHERE de_resultado = 'INDETECTAVEL'
LIMIT 10;

 * postgresql://postgres:***@postgres:5432/FapCov2103
10 rows affected.

[('0FD00E01674FDAFD', '0E4C24AE3721F8BCF5EEEFDBC33E3C0E', '2020-03-14', 'F', '', 'BR', 'SP', '', '', datetime.date(2020, 3, 14), '14/03/2020', 'Alta do Pronto Atendimento', 'Coronavirus Covid-19', 'INDETECTAVEL', 'N'),
 ('CF0102BDD023DF53', '0E6DDAD729C75790696CF0EE9799BA41', '2020-03-11', 'F', '', 'BR', 'SP', 'SAO PAULO', '', datetime.date(2020, 3, 11), '12/03/2020', 'Alta do Pronto Atendimento', 'Coronavirus Covid-19', 'INDETECTAVEL', 'N'),
 ('2769F455C8F0D7C4', '14F021530800249648818755352047F7', '2020-03-14', 'F', '1989', 'BR', 'SP', 'SAO PAULO', '', datetime.date(2020, 3, 14), '14/03/2020', 'Alta do Pronto Atendimento', 'Coronavirus Covid-19', 'INDETECTAVEL', 'N'),
 ('16286AD7B1894D8E', '1561F3B6E8501944FB357BECE8F874EA', '2020-03-14', 'M', '', 'BR', 'SP', 'SAO PAULO', '', datetime.date(2020, 3, 12), '12/03/2020', 'Alta do Pronto Atendimento', 'Coronavirus Covid-19', 'INDETECTAVEL', 'N'),
 ('32DA55CD18D3CAEC', '173B5E80FD9D6D71757557D64E75E939', '2020-03-03', 'F', '', 'BR', 'SP', 'SAO PAULO', '', datetime.date(2020, 3, 2), '02/03/2020', 'Alta do Pronto Atendimento', 'Coronavirus Covid-19', 'INDETECTAVEL', 'N'),
 ('F0312EA5DADCB78D', '1A8F221E06F1812F984104C68DBA774E', '2020-03-14', 'M', '', 'BR', 'SP', 'SAO PAULO', '', datetime.date(2020, 3, 14), '14/03/2020', 'Alta do Pronto Atendimento', 'Coronavirus Covid-19', 'INDETECTAVEL', 'N'),
 ('705B2D3A56FCE684', '1D13F2F4177F7BB8A6B280299A853179', '2020-03-12', 'F', '', 'BR', 'SP', '', '', datetime.date(2020, 3, 12), '12/03/2020', 'Alta do Pronto Atendimento', 'Coronavirus Covid-19', 'INDETECTAVEL', 'N'),
 ('EFF0213E8ED5CD56', '200B029E4D101FF9D5EB60B49E76A202', '2020-03-14', 'F', '', 'BR', 'SP', 'SAO PAULO', '', datetime.date(2020, 3, 14), '14/03/2020', 'Alta do Pronto Atendimento', 'Coronavirus Covid-19', 'INDETECTAVEL', 'N'),
 ('7BC4EB81E04319CA', '218D4842F329573E80D2EE3E16191683', '2020-03-09', 'F', '1979', 'BR', 'SP', 'GUARULHOS', '', datetime.date(2020, 3, 9), '09/03/2020', 'Alta do Pronto Atendimento', 'Coronavirus Covid-19', 'INDETECTAVEL', 'N'),
 ('8A420AAD9355F18B', '230E1D985D9CF8F437DB79B17B965984', '2020-03-14', 'F', '', 'BR', 'SP', 'SAO PAULO', '', datetime.date(2020, 3, 14), '14/03/2020', 'Alta do Pronto Atendimento', 'Coronavirus Covid-19', 'INDETECTAVEL', 'N')]

In [19]:
%%sql
SELECT DE_RESULTADO, COUNT(*) as contagem
FROM Tudo
GROUP BY DE_RESULTADO
ORDER BY contagem DESC;

 * postgresql://postgres:***@postgres:5432/FapCov2103
10 rows affected.

[('NAO DETECTADO (NEGATIVO)', 20049),
 ('DETECTADO (POSITIVO)', 4360),
 ('NAO DETECTADO', 1084),
 ('DETECTADO', 376),
 ('INDETECTAVEL', 130),
 ('INCONCLUSIVO', 27),
 ('DETECTAVEL', 11),
 ('Inconclusivo ', 5),
 ('Inconclusivo', 3),
 ('Este laudo substitui o anterior com alteracao no(s) campo(s) Resultado,  emitido em 16/01/2021, O laudo anterior esta disponivel sob solicitacao,', 1)]